APP_NAME=独角数卡西瓜版
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8020

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_SOCKET=
DB_DATABASE=dujiaoka_test
DB_USERNAME=dujiaoka
DB_PASSWORD=dujiaoka_local

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

BROADCAST_DRIVER=log
SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_DRIVER=array
QUEUE_CONNECTION=sync

DUJIAO_ADMIN_LANGUAGE=zh_CN
ADMIN_ROUTE_PREFIX=admin
ADMIN_HTTPS=false

DUJIAOKA_ASYNC_SIDE_EFFECTS=false
